@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kaftan";
  src: url("/fonts/kaftan-trial.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ninna";
  src: url("/fonts/Ninna-TRIAL.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 77, 33, 1;
  --background-rgb: 255, 246, 227;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom CSS */
.kaftanFont {
  font-family: "Kaftan", sans-serif;
}

.ninnaFont {
  font-family: "Ninna", sans-serif;
}

@media screen and (min-width: 768px) {
  * {
    cursor: none;
  }
}

::selection {
  background: none;
  color: inherit;
}

/* * {
  border: 1px solid red;
} */
